!!! 5
%html
  %head
    %title= "Queue Console"
    %meta{ content:  "", name: "description" }
    %meta{ content: "", name: "author" }
    %link{ href: "http://creativecommons.org/licenses/by/3.0/", rel: "license", title: "Creative Commons Attribution 3.0 Unported License" }
    %link{ media: 'screen', rel: 'stylesheet', href: "#{u 'css/bootstrap.min.css'}" }
    %link{ media: 'screen', rel: 'stylesheet', href: "#{u 'css/bootstrap-responsive.min.css'}" }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{ class: 'brand', href: '#' }
            Queue Console
          %ul.nav
            %li 
              %a{ href: '/overview' } Overview
            %li 
              %a{ href: '/queues' } Queues
            %li 
              %a Workers
            %li 
              %a Failed
    .container{ style: 'margin-top: 50px;' }
      = yield
