!!! 5
%html
  %head
    %title= "Queue Console"
    %meta{ content:  "", name: "description" }
    %meta{ content: "", name: "author" }
    %link{ href: "http://creativecommons.org/licenses/by/3.0/", rel: "license", title: "Creative Commons Attribution 3.0 Unported License" }
    %link{ href: "/css/screen.css", media: "screen", rel: "stylesheet" }
  %body
    = yield
